.market-scene-container {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.market-scene-main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.market-scene-main-grid-container {
  position: absolute;
  width: 100%;
  height: 83%;
  left: 0;
  top: 10%;
}

.market-scene-main-tab-container {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.market-scene-tab-button {
  position: relative;
  width: auto;
  height: 50%;
  aspect-ratio: 132/45;
}

.market-scene-reload-button {
  position: relative;
  width: auto;
  height: 5%;
  aspect-ratio: 132/45;
  left: 90%;
  top: 2.5%;
  transform: translate(-50%, 0);
}

.market-scene-page-selector-container {
  position: absolute;
  width: auto;
  height: 7%;
  aspect-ratio: 17 / 4;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
