.left {
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../image/backgrounds/bg.png");
  z-index: 5;
}

.left-top,
.left-middle,
.left-bottom {
  width: 190px;
  background-size: contain;
}

.left-top {
  background-image: url("../image/backgrounds/left_top.png");
  background-repeat: no-repeat;
}

.left-middle {
  flex-grow: 1;
  background-image: url("../image/backgrounds/left_mid.png");
  background-repeat: repeat-y;
}

.left-bottom {
  background-image: url("../image/backgrounds/left_bottom.png");
  background-repeat: no-repeat;
}

.left-creature-grid {
  position: absolute;
  width: 90%;
  height: calc(93% - 5.6vw);
  top: calc(5.6vw);
  left: 46%;
  transform: translate(-50%, 0%);
}

.left-program-filter-bar-position {
  position: absolute;
  width: 29%;
  height: auto;
  aspect-ratio: 55 / 258;
  top: 50%;
  right: -34.2%;
  transform: translate(-50%, -50%);
}

.left-creature-page-selector {
  position: absolute;
  width: auto;
  height: 5%;
  aspect-ratio: 17 / 4;
  bottom: 2%;
  left: 45%;
  transform: translate(-50%, 0%);
}

.left-corner-bar {
  position: absolute;
  width: 31.5%;
  height: auto;
  aspect-ratio: 1 / 1;
  bottom: 0px;
  right: -1%;
  user-select: none;
}
